@import url(./nav.css);
@import url(./footer.css);
/* @import url(./signup.css); */


*{
    margin:0;
    padding:0;
    box-sizing: border-box;
    font-family: Arial, Helvetica, sans-serif;
    text-transform: none;
    text-decoration: none;
}

body{
    min-height: 100vh;
    background: color #f1f1f1;
    background-size: cover;
    background-position: center;
    

}


.article {
    display: flex;
}

figcaption {
    text-align: center;
}

article>figure:hover>div>img {
    transform: scale(1.1);
}

.img-article{
		display: block;
		margin-left: auto;
		margin-right: auto;
		/*width: 100%;*/
		width: 150px;
		height: 150px;
		padding: 10px;
	}

.container .p-4{
    padding: 2rem;
    
    }
     .lista {
display: contents;    
    }



      figure {
        border-radius: 0.8rem;
        overflow: hidden;
        border: thick double #1D702D;
        }
    
    figcaption {
        overflow: hidden;
        color: black;
    }

    
    article>figure>div {
        position:relative;
        width:100%;
        height:310px;
        overflow:hidden;
    }
    
    article>figure:hover>div>img {
        transform: scale(1.1);
    }

    article>figure>div>img { 
    position:absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    object-fit: scale-down;
    transition: 0.5s ease-in-out;
    transform-origin: right;
}
/* video */
    .video {
        display:flex;
        justify-content: center;
        margin-left:auto;
        margin-right:auto;
    }
   
    #titre1 {
        font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
        font-size: 200%;
        text-align: center;
        text-transform: none;
      }

      #titre2 {
        text-align: center;
        text-transform: none;
      }




       