@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
body {
    font-family: 'Roboto', sans-serif;
    margin: 0px;
    padding: 0px;
}

.myeco-navbar{
    position: sticky;
    top: 0;
    left : 0;
    width : 100%;
    height: 100%;
    background: #f5f5f5;
    z-index: 9;
} 

.myeco-nav{
    padding:10px 10vw;
    display: flex;
    justify-content: space-between;
}

.myeco-logo{
    height: 100px;
}

.myeco-nav-items{
    display:flex;
    align-items: center;

}

.myeco-search{
    width:500px;
   display:flex; 
}

.myeco-search-box{
    width: 80%;
    height: 40px;
    padding: 10px;
    border-bottom-left-radius:10px;
    border-top-left-radius:10px;
    border: 1px solid #d1d1d1;
    text-transform : capitalize;
    background: none;
    color : #a9a9a9;
    outline: none;
}

.myeco-search-btn{
    width:20%;
    height: 40px;
    padding: 10px 20px;
    border : none;
    outline: none;
    cursor: pointer;
    background: #383838;
    color: #fff;
    text-transform: capitalize;
    font-size : 15px;
    border-top-right-radius: 10px;
    border-bottom-right-radius: 10px;
}

.myeco-search-box::placeholder{
    color: #a9a9a9;
}

.myeco-nav-items a{
    margin-left: 20px;
}

.myeco-nav-items a img{
width: 30px;
}

.myeco-links-container{
    width: 100%;
    display : flex;
    padding : 10px 10vw;
    justify-content: center;
    list-style: none;
    border-top: 1px solid #d1d1d1;

}

.myeco-link{
    text-transform: capitalize;
    padding: 0 10px;
    margin: 0 5px;
    text-decoration: none;
    color: #383838;
    opacity: 0.5;
    transition: .5s;
}

.myeco-link:hover{
   opacity:1;
    
}

footer {
    background-color: #121315;
    color: #a7a7a7;
    font-size: 16px;
  }
  footer * {
    font-family: "Poppins", sans-serif;
    box-sizing: border-box;
    border: none;
    outline: none;
  }
  .row {
    padding: 1em 1em;
  }
  .row.primary {
    display: grid;
    grid-template-columns: 2fr 1fr 1fr 2fr;
    align-items: stretch;
  }
  .column {
    width: 100%;
    display: flex;
    flex-direction: column;
    padding: 0 2em;
    min-height: 15em;
  }

  .footer-column {
    list-style: none;
    display: flex;
    flex-direction: column;
    padding: 0;
    margin: 0;
  }
  .footer-list:not(:first-child) {
    margin-top: 0.8em;
  }
  .footer-column .footer-list a {
    color: #a7a7a7;
    text-decoration: none;
  }
  .footer-column .footer-list a:hover {
    color: #2a8ded;
  }
  .about p {
    text-align: justify;
    line-height: 2;
    margin: 0;
  }
  input, button {
    font-size: 1em;
    padding: 1em;
    width: 100%;
    border-radius: 5px;
    margin-bottom: 5px;
  }
  button {
    background-color: #1D702D;
    color: #ffffff;
  }
  
  .copyright {
    padding: 0.3em 1em;
    background-color: #25262e;
  } */

   .copyright p {
    font-size: 0.9em;
    text-align: center;
  }

  @media screen and (max-width: 850px) {
    .row.primary {
      grid-template-columns: 1fr;
    }
  }

h2 {
    text-align: center;  
    padding: 5px;
}

h5 {
    padding: 5px;
    text-align:left;
    font-size:20px;
    font-weight: 600;
}

p {
    display: block;
    padding: 5px;
    text-align: left;
}